.App {
  padding-top: 20px;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-color: #ededed;
}

.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}

.toggler {
  display: flex;
  align-items: center;
}
.toggler b {
  margin-right: 5px;
}

.toggler__item {
  padding: 5px 10px;
  width: 70px;
  margin: 5px;
  box-sizing: border-box;
  background-color: #eee;
  border: 1px solid gray;
  text-align: center;
}

.toggler__item.active {
  background-color: #ffcc00;
}

.toggler__item.send {
  background-color: #9999cc;
}
